
body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 20;
}


nav {
    background-color: #007BFF;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    margin-left: 70px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    
    background-color: #0056b3;
}


.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px; 
}

.dropbtn {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.dropbtn:hover {
    background-color: #0056b3;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    padding: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content label,
.dropdown-content input {
    display: block;
    margin-bottom: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0056b3;
}
.topnavigation{
    background-color: #000000;
}

#calendar{
    position: sticky;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    width: 1000px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
     border-top:2px solid #000000;
    border-left:2px solid #000000;
    border-right:2px solid #000000;
    border-bottom:2px solid #000000; 
    position: relative;
    border-bottom-width: 100%;
    border-style: dotted;
    border-color:#2aabb9;
    padding-bottom: 10%;
   
}

.day {
    display: inline-block;
    width: 50px;
    height: 30px;
    text-align: center;
    margin: 2px;
    border: 1px;
    border: 1px solid #2a0f0f;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.day:hover {
background-color: #007BFF;
border-radius: 20px;
}
.current-day {
    background-color: rgba(83, 83, 6,0.5);
    border : 2px solid black;
    font-weight: bold; 
}

.nav-button{
  color: #eaeff4;
    border: #eaeef3;
    border-radius: 50%;
    padding: 10px;
    transition: transform 0.3s ease;
    border: 20%;
    background-color: #0056b3;
}
.nav-button:hover {
    transform: scale(1.7); 
}