
body {
    font-family: Arial, sans-serif;
    margin-right: 10;
    padding-right: 20;
    transition: background-image 0.5s ease-in-out;
}


nav {
    background-color: #007BFF;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    margin-left: 70px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    
    background-color: #0056b3;
}


.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px; 
}

.dropbtn {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.dropbtn:hover {
    background-color: #0056b3;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    padding: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content label,
.dropdown-content input {
    display: block;
    margin-bottom: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0056b3;
}
.topnavigation{
    background-color: #000000;
}

#calendar{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    width: 1000px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
     border-top:2px solid #000000;
    border-left:2px solid #000000;
    border-right:2px solid #000000;
    border-bottom:2px solid #000000; 
    position: relative;
    border-bottom-width: 100%;
    border-style: dotted;
    border-color:#2aabb9;
    padding-bottom: 10%;
   
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    text-align: center;
    border: 1px solid #2a0f0f;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.day:hover {
background-color: #007BFF;
border-radius: 20px;
}
.current-day {
    background-color: rgba(200, 17, 220, 0.5);
    border : 5px solid black;
    font-weight: bold; 
}
.current-day:hover{
    background-color: #007BFF;
    border-radius: 30px;

}
.nav-button{
  color: #eaeff4;
    border: #eaeef3;
    border-radius: 50%;
    padding: 10px;
    transition: transform 0.3s ease;
    border: 20%;
    background-color: #0056b3;
}
.nav-button:hover {
    transform: scale(1.7); 
}
#L1 {
    color: #000000;
}
.Model {
    display: none;
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

}
.ModelContent{
    background-color:#fefefe ;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;

}
.CloseButton{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.CloseButton:hover,
.CloseButton:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
#EventForm{
    display: none;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(216, 120, 120, 0.2);
    
}
.Model{
    background-color: #0056b3;
    color: #eaeef3;
    font-weight: bold;
}

.day{
    background-color: #d6e8fc;
    color: #000000;
    font-weight: bold;
}

.monthNames{
    background-color: #1f6abf;
    color: #000000;
    font-weight: bold;
}
.dayNames{
    background-color: #1f6abf;
    color: #000000;
    font-weight: bold;
}