.ListContainer {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

body {
    background-color: black;
}

.ToDo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.ToDo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.ToDo-app img {
    width: 70px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-left: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 40px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: black; 
    background-color: #ffffff;
    border-radius: 6px;
    margin-bottom: 10px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
/*Added the bottom bit to avoid over flowing the container just for presentation*/
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    white-space: pre-wrap;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/static/images/Unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #000000;/*Controls the lists text colour*/
    text-decoration: line-through;
   
 
}


ul li.checked::before {
    background-image: url(/static/images/Checked.png);
}

ul li span {
    position: absolute;
    top: 5px; /* Moves the X about the lower the number the higher up the X will be */
    right: 5px; /* Moves the X about the lower the number the further right*/
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #4b484a;/*changes the X's colour itself as in the center grey X*/
    line-height: 30px;
    text-align: center;
    background-color: #f6f6f6; /*changes the X background colour*/
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
}

ul li span:hover {
    background: #d31414; /*changes the X background colour on hover*/
}

input[type="date"]{
    margin-left: 10px;
    padding: 8px;
    border: 1px solid #e1dfdf;
    border-radius: 5px;
}


ul li .due-date{
    font-size: 14px;
    color: #888888;
    margin-right: 10px;
}

ul li .delete-btn{
    position: relative;
    width: 30px;
    height: 30px;
    font-size: 29px;
    color: #3f3e3f;
    line-height: 30px;
    text-align: center;
    background-color: #e4dede;
    border-radius: 50%;
    cursor: pointer;
}

ul li .delete-btn:hover{
     background: #d31414;
}