<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/css.css') }}"/>
   <script src="{{ url_for('static', filename='js/Theme.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="Image/Icon"/>
</head>
<body>

    <div class="topnavigation">
        <a href="{{ url_for('splash_screen') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        </a>
    
    </div>

    <div class="topnavigation">
        <nav>
            <!-- Dropdown button is now placed as the first item on the left -->
            <div class="dropdown">
                <button class="dropbtn">Customize Colors</button>
                <div class="dropdown-content">
                    <!-- Color selectors inside dropdown -->
                    <label id="L1" for="bgColor">Background Color: </label>
                    <input type="color" id="bgColor" name="bgColor" value="#ffffff" onchange="changeBackgroundColor(this.value)">
                    
                    <label id="L1" for="textColor">Text Color: </label>
                    <input type="color" id="textColor" name="textColor" value="#000000" onchange="changeTextColor(this.value)">
            
                    <label id="L1" for="NavigationColor">NavigationBar Color: </label>
                    <input type="color" id="BarColor" name="BarColor" value="#000000" onchange="changeBarColor(this.value)">

                    <label id="L1" for="NavigationTextColor">NavigationBar Text Color: </label>
                    <input type="color" id="BartxtColor" name="BartxtColor" value="#000000" onchange="NavigationTextColor(this.value)">
                </div>
            </div>
            
            <a href="{{ url_for('home')}}">Home</a>
            <a href="{{ url_for('todo')}}">ToDo</a>
            <a href="{{ url_for('weather')}}">Weather</a>
        </nav>
 
    </div>
   <br><br><br>
   
   <div id="monthName"></div>
    <div id="calendar"></div>
    <script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
</body>
</html>
